<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;900&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>NLP</title>
</head>

<body>
    <header>
        <div class="header hero__header--logo">
            logo
        </div>
    </header>
    
    <div class="hero--background">
        <div class="hero--form-container">
            <h1>Explore your next memory</h1>
            <p>Discover uncharted destinations perfect for any vacation.</p>
            <div class="form form--hero-search">
                <form class="form form--hero">
                    <input class="form__input form__input--destination" placeholder="Location" type="text" />
                    <label for="arrival">Arrival:</label>
                    <input class="form__input form__input--arrival-date" id="arrival" type="date" />
                    <label for="departure">Departure:</label>
                    <input class="form__input form__input--departure-date" id="departure" type="date" />
                    <input class="form__submit form__submit--enabled" type="submit" />
                </form>
            </div>
        </div>
    </div>

    <section class="section section--result">
        <h2>Your next destination</h2>
        <div class="result-container">
            <class class="result--card-details">
            <div class="div result--card-information">
                <h2>Location placeholder</h2>
                <p>Discover uncharted destinations perfect for any vacation.</p>
            </div>
            
            <p>12 months till you arrive</p>
            <div class="result--weather">
                <div class="result--weather-img">image here</div>
                <div class="result--weather-detials">
                    <p>
                        forcast here
                    </p>
                </div>
            <button class="card--add">Book it</button>
            </div>
    </section>
    <section class="section section--trips-added">
        <h2>Your travel plans</h2>
        <div class="card-container">
            <div class="card card--trips-added">
                <div class="card card--img">

                </div>
                <div class="card card--details">
                    <h3>place holder inforamtion</h3>
                    <p>count down timer goes here days</p>
                </div>
                <div class="card card--weather">
                    <div class="card weather--img">image here</div>
                    <div class="card weather--detials">
                        <p>
                            forcast here
                        </p>
                    </div>
                </div>
                <button class="card card--remove">
                    Remove
                </button>
            </div>


            <div class="card card--trips-added">
                <div class="card card--img">

                </div>
                <div class="card card--details">
                    <h3>place holder inforamtion</h3>
                    <p>count down timer goes here days</p>
                </div>
                <div class="card card--weather">
                    <div class="card weather--img">image here</div>
                    <div class="card weather--detials">
                        <p>
                            forcast here
                        </p>
                    </div>
                </div>
                <button class="card card--remove">
                    Remove
                </button>
            </div>


            <div class="card card--trips-added">
                <div class="card card--img">

                </div>
                <div class="card card--details">
                    <h3>place holder inforamtion</h3>
                    <p>count down timer goes here days</p>
                </div>
                <div class="card card--weather">
                    <div class="card weather--img">image here</div>
                    <div class="card weather--detials">
                        <p>
                            forcast here
                        </p>
                    </div>
                </div>
                <button class="card card--remove">
                    Remove
                </button>
            </div>


            <div class="card card--trips-added">
                <div class="card card--img">

                </div>
                <div class="card card--details">
                    <h3>place holder inforamtion</h3>
                    <p>count down timer goes here days</p>
                </div>
                <div class="card card--weather">
                    <div class="card weather--img">image here</div>
                    <div class="card weather--detials">
                        <p>
                            forcast here
                        </p>
                    </div>
                </div>
                <button class="card card--remove">
                    Remove
                </button>
            </div>

        </div>
    </section>
    <footer>
        <hr>
        <p>&#169 infomation here </p>
    </footer>
</body>

</html>