.hero--background {
    grid-area: hero;
    background-image: url('/src/client/media/images/beach.jpg');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: cover;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1.34fr 5.8fr 1.3fr 1.1fr;
    grid-auto-rows: auto;
    grid-template-areas: ". . form . .";
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero--background {
    grid-area: hero;
    background-image: none;
    background-size: 0%;
    height: 0rem;
    display: grid;
    grid-template-columns: 1fr 1.34fr 5.8fr 1.3fr 1.1fr;
    grid-auto-rows: auto;
    grid-template-areas: ". . form . .";
  } 
}
.hero--form-container {
  padding: 31px 32px 40px 32px;
  background-color: #fff;
  height: 19rem;
  width: 29rem;
  border-radius: 8px;
  box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
  align-self: center;
  grid-area: form;
  }

  .hero__header--logo {
    background-image: url('/src/client/media/images/logo.png');
      background-size: 42px;
      background-repeat: no-repeat;
      background-position-x: right;
      height: 100px;
      margin: 1.5rem 1.5rem;
  }
  @media (min-width: 320px) and (max-width: 640px) {
    .hero__header--logo {
      background-image: none;
      background-size: 0px;
      background-repeat: no-repeat;
      background-position-x: right;
      height: 100px;
    }
  }