header {
  grid-area: head;
  z-index: 999;
  align-self: center;
}

.section--result {
  grid-area: result;
}

.section--trips-added {
  grid-area: trips;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: .1fr .3fr 1fr .3fr .1fr;
  grid-template-rows: 6% 60% 40% 36% 9%;
  grid-template-areas:
    ". head . . ." 
    "hero hero hero hero hero" 
    ". . result . ."
    ". . trips . ."
    ". . footer . .";
}
