header {
  grid-area: head;
  margin: 20px 12px 12px 121px;
  z-index: 100;
  text-align: right;
}

.section--result-hidden {
  display: none;
}

.section--result-active {
  grid-area: result;
}

.section--trips-added {
  grid-area: trips;
}

footer {
  grid-area: footer;
  margin: 2rem 0 0 0;
}

body {
  display: grid;
  grid-template-columns: .1fr .3fr 1fr .3fr .1fr;
  grid-template-rows: 0% 31rem 24rem auto 8%;
  grid-template-areas:
    "head head head head head" 
    "hero hero hero hero hero" 
    ". . result . ."
    ". . trips . ."
    ". . footer . .";
}
@media (min-width: 1281px) {
  
  /* CSS */
  
}


// Desktop
@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}


// Smart Phone
@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}
